---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css" />
    <script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js" defer></script>
    <script>window.addEventListener("load", function () { window.wpcc.init({ "border": "thin", "corners": "small", "colors": { "popup": { "background": "#f6f6f6", "text": "#000000", "border": "#555555" }, "button": { "background": "#555555", "text": "#ffffff" } }, "position": "bottom", "content": { "href": "/politique-confidentialite", "message": "Ce site utilise des cookies pour améliorer votre expérience. Continuer la navigation sur ce site implique votre acceptation.", "link": "En savoir plus", "button": "Accepter" } }) });</script>
</head>

{{ content }}

<div class="columns is-multiline">
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    {% for post in paginator.posts %}
    <div class="column is-12">
        {% include post-card.html %}
    </div>
    {% endfor %}
    <div class="column is-12">
        {% include pagination.html %}
    </div>
</div>